.user-clocks {
width: 100%;
float: left;
margin-bottom: 8px;
}

.clock {
	border: 1px solid #0779BF;
	width: 31.7%;
	float: left;
}

.clock .advance-clock-date { 
	text-align: center;
}

.clock .advance-clock-location {
	border-bottom: 1px solid #0779BF;
	text-align: center;
	background-color: #48A9E4;
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
}

.clock ul { 
	list-style:none;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
	font-weight: bold;
	color: #0779BF;
}

.clock ul li { 
	display:inline;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.clock #point { 
	position:relative;
	-moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; 
	padding-left: 1px; 
	padding-right: 1px; 
}

.clock .format {
	padding-left: 3px; 
}