.clock_container {
    float:left;
    margin-right:2px;
    width:110px;
    position: relative;
}
.clock_container .lbl {
    font-size:10px;
    color: #333333;
    line-height: 22px;
    /*background: url(../images/clock_label.png);*/
    background-color: white;
    text-align: center;
    height: auto;
    width: 108px;
    margin: 0 auto;
    font-weight: bold;
    text-transform: capitalize;
}
.clockHolder {
    width:100px; 
    margin:0 auto;
    position:relative;
}
.clock {
    margin-left:5px;
}

.sec {
    display:block;
    position:absolute;
}
.min {
    display:block;
    position:absolute;
}
.hour {
    display:block;
    position:absolute;
}

.rotatingWrapper {
    position:absolute;
    width:100px;
    height:100px;
    left: 5px;

}
.digital {
    font-weight:bold;
    font-size: 14px;
    color: #444444;
    text-align:center;
}
.user-clocks {
    display:inline-block;    
}
.clocks-list {
    list-style-type:none;
}